h1 {
  background-color: rgba(0,0,0,.2);
  max-width: 500px;
  padding: 20px;
  color: white;
  border-radius: 30px;
  font-family: cursive;
  letter-spacing: 0.1em;
}

h1:hover {
  transform: scale(1.5);
  margin-left: 180px;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url(Assets/pexels-the-lazy-artist-gallery-999267.jpg) no-repeat center center fixed;
  background-size: cover;
} 